body {
    text-align: center;
}

#select1, #select2{
    width: 500px;
    height: 2em;
    margin-bottom: 0.3em;
}

#button{
    text-align: center;
    display: none;
    width: 500px;
    height: 2em;
    margin-bottom: 0.3em;
}

#tableCreate{
    display: none;

}

#aboutTable input{

    width: 140px;
    margin-right: 8px;

}

table {
    margin: 0 auto;
}

th {
    background-color: grey;
    color: whitesmoke;
}

tr:nth-child(odd) td {
    background-color: lightgrey;
}

td {
    padding: 0 0.5em;
}

#info{
    color: red;
}